.idea/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
*~
*.log
/tmp
/www/uploads/*
/www/bundles/*
/www/cache/*
/www/playlists/*
/www/music/*
/www/music_old/*