body {
    font-family: Arial;
    background: #000;
    -webkit-overflow-scrolling:touch;
}
.content{
    position: relative;
    margin: 0 auto;
    background: #000;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}
.ymap{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
}
p {
    margin: 0 0 0px;
}
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-header {
    /*font-family: "Oswald";*/
    font-family: "Century Gothic";
    text-transform: uppercase;
}

.navbar-nav {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: justify;
    max-width: 1200px;
    float: none;
}

.navbar-nav > li > a {
    /*font-family: "Source Sans Pro";*/
    font-family: "Century Gothic";
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 0px 0px 0px;
    height: 50px;
    line-height: 50px;
}

.navbar-default {
    background: #2b2929;
    border: none;
    z-index: 3;
    top: 125px;
    position: absolute;
    width: 100%;
    position: -webkit-sticky;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-nav > li > a.select {
    color: #888888;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 18px;
    padding: 0;
    line-height: 91px;
    margin-left: 40px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    padding: 0;
}

.container#glavnaya {
    background: #f8f8f0;
    padding-top: 175px;
    max-height: 590px;
    min-height: 500px;
}
.container#katalog_produktsii{
    min-height: 305px;
}
.container#glavnaya .glavnaya-bg {
    zoom: 1;
    max-height: 590px;
    min-height: 325px;
    position: relative;
    text-align: right;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container#glavnaya .glavnaya-bg img {
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
}

.container.gray {
    background: #7b7b7b;
}

.container-null {
    height: 340px;
}

.container-null2 {
    height: 180px;
}

.container .text {
    font-size: 18px;
    position: relative;
    width: 100%;
    padding: 40px 5% 40px 5%;
}
.container .text_{
    max-width: 1200px;
    margin: 0 auto;
}

.container .text p {
    color: #000;
    /*margin: 151px 120px 151px 120px;*/
}

.container .text1 {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    //display : inline;
    z-index: 2;
    padding: 40px 5% 40px 5%;
    position: absolute;
}

.container#glavnaya .helper {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
    zoom: 1;
    //display : inline;
}

.container.gray .text p {
    color: #fff;
}

.footer {
    font-size: 15px;
}

.footer p {
    margin: 20px 219px 20px 219px;
}

form {
    margin: 0 219px;
}

form input[type="text"] {
    padding: 10px 15px;
    line-height: 40px;
    height: 47px;
    width: 400px;
    color: #000;
    background: #e9e9e9;
    border: none;
    text-transform: uppercase;
}

form textarea {
    width: 400px;
    height: 173px;
    max-width: 400px;
    color: #000;
    background: #e9e9e9;
    border: none;
    text-transform: uppercase;
    padding: 5px 15px 5px 15px;
    line-height: 40px;
}

form input[type="button"] {
    background: #15d80b;
    border: none;
    color: #fff;
    padding: 10px 15px;
    line-height: 30px;
    height: 48px;
    margin-top: 15px;
    margin-bottom: 64px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #000;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #000;
}

.c9b976b {
    color: #9b976b;
}

.c898989 {
    color: #898989;
}

.logotip {
    text-align: center;
    background: #fff;
    width: 100%;
    overflow: hidden;
}

.navbar-collapse {
    margin: 0 5%;
    height: 50px;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}

.navbar-nav > li.sizer {
    width: 100%;
    height: 0px;
    visibility: hidden;
}
.navbar-default .navbar-collapse{
    border: 0;
}
a:focus{
    outline: 0;
}

/* Catalog */
ul.catalog{
    list-style: none;
    -webkit-padding-start: 0px;
    width: 100%;
    padding: 0;
    margin-top: 120px;
    margin-bottom: 0px;
}
ul.catalog li a{
    position: absolute;
    color: #000;
    text-decoration: none;
    background: #000;
    border: none;
    width: 100%;
    height: 100%;
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.55;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=55);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
    filter:alpha(opacity=55);
}
ul.catalog li a:hover{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    opacity: 0.00;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter:alpha(opacity=0);
}
ul.catalog li a img{
    border: none;
}
ul.catalog li span{
    font-size: 14pt;
    font-family: "Century Gothic";
}
ul.catalog li {
    position: relative;
    width: 25%;
    display: inline-block;
}
ul.catalog li .text{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    width: 100%;
}
ul.catalog li.lst{
    margin-right: 0px;
}
ul.catalog li img{
    width: 100%;
}

.olegfox_bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 2000;
    top: 0px;
}
.olegfox_zoom_btn_left, .olegfox_zoom_btn_right{
    position: fixed;
    width: 100px;
    height: 100%;
    z-index: 2002;
    opacity: 0;
    top: 0;
    cursor: pointer;
}
.olegfox_zoom_btn_left{
    background: url('/sitemain/images/gallery-left.png') 50% 50% no-repeat;
    left: -100px;
}
.olegfox_zoom_btn_right{
    background: url('/sitemain/images/gallery-right.png') 50% 50% no-repeat;
    right: -100px;
}
.olegfox_zoom{
    position: relative;
    opacity: 0;
}
.gallery-title{
    color: #fff;
    font-size: 11pt;
    text-transform: uppercase;
    visibility: hidden;
    position: fixed;
    bottom: 0px;
    z-index: 4000;
    padding: 10px;
    width: 100%;
}
#kontaktyi .text{
    padding-top: 0px;
}
#kontaktyi .text_{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 40px;
    margin: 40px 5%;
    max-width: 100%;
}
#kontaktyi .text__{
    max-width: 1200px;
    margin: 0 auto;
}
.div1{
    margin: 50px 0;
}
.div3{
    margin: 50px 0;
}
.audio{
    position: fixed;
    background: #000;
    height: 120px;
    width: 100%;
    line-height: 120px;
    padding: 0px;
    top: 0px;
    z-index: 1000;
}
.audio .logo{
    display: inline-block;
    background: url('/sitemain/images/logo.png') center no-repeat;
    width: 25%;
    height: 92px;
    vertical-align: middle;
}
.audio .player{
    position: relative;
    float: right;
    height: 52px;
    width: 25%;
    line-height: 52px;
    margin-top: 42px;
    z-index: 1000;
    text-align: center;
}
.audio .player .button{
    display: inline-block;
    color: #E4E4E4;
    font-family: "Tahoma";
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    width: 265px;
    height: 45px;
    line-height: 41px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.64);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.audio .player .wrap_radio{
    display: none;
    width: 265px;
    background: #2d2d2d;
    padding-bottom: 10px;
}
.audio .player .wrap_radio .radi{
    height: 52px;
    line-height: 50px;
    padding: 0px 10px;
    cursor: pointer;
}
.audio .player .wrap_radio .radi .name{
    color: #F4F4F4;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    text-transform: initial;
    text-align: center;
    border-bottom: #7b7b7b solid 2px;
}
.audio .player .wrap_radio .radi .name.play{
    font-weight: 700;
    border-bottom: #fff solid 2px;
}
.audio .player .wrap_radio .radi .name.last{
    border-bottom: 0px;
}
.audio .play-control{
    display: inline-block;
    position: fixed;
    background: #000;
    width: 50%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    top: 35px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.audio .play-control .buttons{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50px;
    line-height: 50px;
}
.audio .play-control .badges{
    display: inline-block;
    width: 50%;
    margin-top: 6px;
}
.audio .play-control .badges .apple{
    display: inline-block;
    margin-left: 4px;
}
.audio .play-control .badges .google{
    display: inline-block;
    margin-left: 8px;
}
.audio .play-control .wrap_prev{
    display: inline-block;
    width: 30%;
    height: 17px;
    text-align: left;
    vertical-align: top;
    margin-top: 2px;
    padding-left: 85px;
}
.audio .play-control .wrap_next{
    display: inline-block;
    width: 30%;
    height: 17px;
    text-align: right;
    vertical-align: top;
    margin-top: 2px;
    padding-right: 85px;
}
.audio .play-control .wrap_play{
    display: inline-block;
    width: 40%;
    height: 17px;
    text-align: center;
    vertical-align: top;
}
.audio .play-control .play{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    width: 21px;
    height: 24px;
    margin-top: -3px;
    background: url('/sitemain/images/player-buttons.png') -64px 0px no-repeat;
}
.audio .play-control .play.pause{
    background: url('/sitemain/images/player-buttons.png') -87px 0px no-repeat;
}
.audio .play-control .prev,
.audio .play-control .next{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    width: 31px;
    height: 17px;
}
.audio .play-control .prev{
    background: url('/sitemain/images/player-buttons.png') 0 -4px no-repeat;
}
.audio .play-control .next{
    background: url('/sitemain/images/player-buttons.png') -33px -4px no-repeat;
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}


@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}


.audio .play-control .name {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    color: #C4C4C4;
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    left: 0;
    top: 35px;
}

.audio .play-control .name span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 5s infinite linear;
    -moz-animation: scroll 5s infinite linear;
    animation: scroll 5s infinite linear;
}

@media screen and (max-width: 1400px){
    .audio .play-control{
        width: auto;
        height: auto;
        bottom: 0px;
        top: initial;
        padding-top: 100px;
    }
    .audio .play-control .buttons{
        display: inline-block;
        width: 345px;
    }
    .audio .play-control .name{
        top: 27px;
        width: 345px;
        left: 0px;
        right: 0px;
        margin: 0px auto;
    }
    .audio .player .button{
        width: 165px;
    }
    .audio .player .wrap_radio{
        width: 165px;
    }
    .audio .play-control .badges{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 20px;
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }
    ul.catalog{
        margin-top: 120px;
        margin-bottom: 150px;
    }
}
@media screen and (max-width: 800px){
    .audio{
        position: fixed;
        background: #000;
        height: 60px;
        width: 100%;
        line-height: 60px;
        padding: 0px 15px;
        top: 0px;
        z-index: 1000;
    }
    .audio .player{
        position: relative;
        float: right;
        width: 130px;
        height: 42px;
        line-height: 42px;
        margin-top: 9px;
        margin-right: 0px;
        z-index: 1000;
    }
    .audio .logo{
        background: url('/sitemain/images/logo.png') no-repeat;
        background-size: contain;
        width: 117px;
        height: 50px;
    }
    .audio .play-control .buttons{
        display: inline-block;
        width: 245px;
    }
    .audio .play-control .name{
        width: 245px;
    }
    .audio .player .button{
        color: #E4E4E4;
        font-size: 12px;
        text-align: center;
        width: 130px;
        height: 42px;
        line-height: 39px;
        border: #fff solid 2px;
        cursor: pointer;
    }
    .audio .player .wrap_radio{
        width: 130px;
    }
    .audio .player .wrap_radio .radi{
        height: 30px;
        line-height: 30px;
    }
    .audio .player .wrap_radio .radi .name{
        font-size: 10px;
    }
    ul.catalog li .text{
        font-size: 6px;
    }
    .audio .play-control .wrap_prev{
        padding-left: 0px;
    }
    .audio .play-control .wrap_next{
        padding-right: 0px;
    }
}

body.dark {
    background: gray;
}

body.dark .audio {
    background: #fff;
}

body.dark .audio .logo {
    -webkit-filter: invert(100%);   
    filter: invert(100%);
}

body.dark .audio .play-control {
    background: #fff;
}

body.dark .audio .play-control .play {
    -webkit-filter: invert(100%);   
    filter: invert(100%);
}

body.dark ul.catalog li .text {
    position: absolute;
    color: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body.dark ul.catalog li .text > div{
    display: table;
    height: 100%;
    width: 100%;
}

body.dark ul.catalog li .text > div > div{
    display: table-cell;
    vertical-align: middle;
}

body.dark .content {
    background: gray;
}

body.dark ul.catalog li a {
    color: #fff;
    background: #000;
}

canvas {
    display: none;
}

body.dark canvas {
    width: 100%;
    display: inline;
    vertical-align: middle;
    background-color: #fff;
}