<div class="audio" ng-controller="AudioController">
    <a class="logo" href="{{ path('Site_main_homepage') }}"></a>
    <div class="play-control">
        <div class="buttons">
            <div class="wrap_prev">
                {#<div class="prev" ng-click="playPrev()"></div>#}
            </div><div class="wrap_play"><div class="play" ng-class="currentPlaylist.selected ? '' : 'pause'" ng-click="playPause()"></div></div><div class="wrap_next">
                {#<div class="next" ng-click="playNext()"></div>#}
            </div>
            {#<div class="name"><span>{[{ currentPlaylist.audio[currentPlaylist.numberTrack].name }]}</span></div>#}
        </div>
        {#<div class="badges">#}
            {#<div class="apple">#}
                {#<a href="{[{ currentPlaylist.audio[currentPlaylist.numberTrack].linkItunes }]}" target="_blank">#}
                    {#<img alt="Get it on App Store" height="45"#}
                         {#src="{{ asset('sitemain/images/Download_on_the_App_Store_Badge_RU_135x40.svg') }}" />#}
                {#</a>#}
            {#</div>#}
            {#<div class="google">#}
                {#<a href="{[{ currentPlaylist.audio[currentPlaylist.numberTrack].linkGooglePlay }]}" target="_blank">#}
                    {#<img alt="Get it on Google Play"#}
                         {#src="https://developer.android.com/images/brand/ru_generic_rgb_wo_45.png" />#}
                {#</a>#}
            {#</div>#}
        {#</div>#}
    </div>
    {#<div class="player">#}
        {#<div class="button" ng-click="changeRadio()">другое радио</div>#}
        {#<div class="list">#}
            {#<div class="wrap_radio">#}
                {#<div class="radi" ng-repeat="a in audio">#}
                    {#<div class="name" id="{[{ a.name }]}" ng-class="a.selected ? 'play' : 'pause'" ng-click="playMusic(a, 1, 1)">{[{ a.name }]}</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</div>